__pycache__/
*.py[cod]
*.sqlite3-shm
*.sqlite3-wal
apc/data/raw/
apc/data/processed/
apc/checkpoints/
apc/runs/
# Ignore MP4 video files
*.mp4
*.MP4

analysis/models/models--Systran--faster-distil-whisper-small.en/snapshots/ef77d90526ccd62cde3808ee70626a01e5cf83e4/model.bin
